body {
    background-color: rgb(232, 230, 238);
    font-family: Arial, Verdana;
    margin: 0;
    padding: 0;
}

/* Início da Página Inicial */
/* header */
header {
    background-color: rgb(11, 11, 104);
    padding: 15px;
}

nav a {
    padding: 10px;
    float: right;
    margin: 0 96px 0 -55px;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: red;
}

.logo {
    margin: 0 0 0 96px;
    height: 50px;
    width: 150px;
}

a {
    text-decoration: none;
}

/* /header */

/* Main */
.banner {
    margin: 0 0 0 105px;
    height: 420px;
    width: 87%;
}

.titulo {
    border-radius: 50px;
    font-size: 30px;
    color: white;
    background-color: blue;
    text-align: center;
    margin: 60px 105px 30px 95px;
    padding: 20px;
}

.ofertas {
    width: 16%;
    margin: 0 0 50px 104px;
    text-align: center;
    font-size: 15px;
}



.clear {
    clear: both;
}

/* /Main */

/* Footer */
footer {
    padding: 20px;
    font-size: 20px;
    color: #f1f1f1;
    background-color: rgb(11, 11, 104);
}

footer a {
    text-decoration: none;
}

/* /Footer */
/* Fim da Página Inicial */

body,
html {
    height: 100%;
}

body {
    display: flex;
    /* ! */
    flex-direction: column;
    /* ! */
}

main {
    flex: 1 0 auto;
    /* ! */
}

footer {
    flex-shrink: 0;
    /*Serve para diminuir a coluna */

    padding: 10px;

    margin-top: 10px;
}

@media (max-width: 480px) {
    .titulo {
        display: none;
    }
}

@media (min-width: 700px) {
    .ofertas {
        float: left;
        width: 16%;
        margin: 0 0 50px 104px;
        text-align: center;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 15px;
        font-size: 15px;
    }

    .logo{
        margin-left: 50;
        margin: 0 0 0 96px;
        height: 50px;
        width: 150px;
    }
}